[MASTER]
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-module-docstring
    C0116, # missing-module-docstring
    E0401, # import-error
    E0611, # no-name-in-module
    E1101, # no-member
    C0415, # import-outside-toplevel
    R0801, # duplicate-code
    R0903, # too-few-public-methods
    R0914, # too-many-locals
    R1705, # no-else-return

[FORMAT]
max-line-length=140

[DESIGN]
max-args = 10
max-attributes = 10

[LOGGING]
logging-format-style=new
